/* コンテナ */
#container{
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 300px 50px 1fr;
    grid-template-areas: "icon space name" "icon space context";
    padding: 50px;
}

/* アイテム */
.header{
    background-color: #4F6F52; /* ヘッダーの背景色など */
    height: 150px;
    font-size: xx-large;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.FullName{
    font-size: 24px; /* 名前のフォントサイズ */
}
#icon{
    grid-area: icon;
    position: absolute;
}
#name {
    grid-area: name;
}
#context{
    grid-area: context;
}
#space{
    grid-area: space;
    background: #fff;
}
